*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 0.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border-radius: 0.3rem;
  border: 0px;
  box-shadow: 0 0 5px 1px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 36px;
  height: 18px;
  background: grey;
  outline: 1px solid;
  outline-offset: 2px;
  border-radius: 100px;
  position: relative;
  transition: all 0.4s;
}
.checkbox::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: darkgrey;
  transition: all 0.4s;
}

.checkbox:checked {
  background: rgb(189, 4, 4);
}
.checkbox:checked::before {
  background: rgb(88, 0, 0);
  right: 0;
  left: 18px;
}

.radio {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 1px solid;
  outline-offset: 2px;
  transition: all 0.4s;
  border-radius: 100px;
}

.radio:checked {
  background: rgb(189, 4, 4);
}

body {
  color: rgb(228, 211, 214);
  background: #570b7a;
}
body .bg {
  z-index: -1000;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, rgb(69, 17, 90), rgb(22, 6, 80), rgb(190, 26, 163));
  filter: blur(30px);
}
body .bg .bg-1,
body .bg .bg-2,
body .bg .bg-3,
body .bg .bg-4 {
  position: absolute;
  content: "";
  width: 10vw;
  height: 30vh;
  background: linear-gradient(70deg, red, aqua, green, blue);
  box-shadow: 0 0 20px 4px gold;
  border-radius: 200px;
  animation: bg 20s ease-in-out 0s infinite;
}
body .bg .bg-1 {
  top: 7vw;
  left: 9vw;
  rotate: 17deg;
}
body .bg .bg-2 {
  top: 40vw;
  left: 36vw;
  rotate: 67deg;
}
body .bg .bg-3 {
  bottom: 7vw;
  right: 9vw;
  rotate: 46deg;
}
body .bg .bg-4 {
  bottom: 40vw;
  right: 26vw;
  rotate: 13.5deg;
}

@keyframes bg {
  0% {
    rotate: 0deg;
    transform-origin: 50px 90px;
    box-shadow: 0 0 200px 12px rgba(4, 85, 122, 0.568);
    filter: hue-rotate(56deg);
    transform: translateX(0vw);
  }
  50% {
    rotate: 170deg;
    transform-origin: 0px 70px;
    box-shadow: 0 0 100px 1px blueviolet;
    filter: hue-rotate(0deg);
    transform: translateX(70vw);
  }
  100% {
    rotate: 0deg;
    transform-origin: 0px 180px;
    box-shadow: 0 0 200px 2px grey;
    filter: hue-rotate(560deg);
    transform: translateX(0vw);
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3647058824);
}
section .section-center {
  width: 95%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav-center {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(45, 8, 112, 0.5411764706);
  padding: 10px;
  box-shadow: 0 0 5px 1px blueviolet;
}
.nav-center .links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-center .links a {
  color: rgb(228, 211, 214);
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.4s;
  border: 1px solid transparent;
}
.nav-center .links a:hover {
  background: rgba(0, 0, 0, 0.2745098039);
  border: 1px solid rgba(137, 43, 226, 0.411);
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-center {
  width: 95%;
  display: flex;
}
.header-center .dev-info {
  width: 75%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.header-center .dev-info .name {
  margin-block: 30px;
  background: linear-gradient(34deg, rgb(190, 187, 10), aqua, green, grey);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 30px red;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  padding: 5px;
  position: relative;
}
.header-center .dev-info .name::after {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  top: -35%;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .dev-info .name::before {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  bottom: -35%;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .dev-info .name:hover::before {
  rotate: 90deg;
  left: -15%;
  width: 50px;
  top: 40%;
}
.header-center .dev-info .name:hover::after {
  rotate: 90deg;
  left: 90%;
  width: 50px;
  top: 40%;
}
.header-center .dev-info .description {
  margin-block: 30px;
  background: linear-gradient(34deg, rgb(190, 187, 10), aqua, green, grey);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 30px red;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  padding: 5px;
  position: relative;
}
.header-center .dev-info .description::after {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  top: -10px;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .dev-info .description::before {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  bottom: -10px;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .dev-info .description:hover::before {
  rotate: 90deg;
  left: -57px;
  width: 100px;
  top: 40px;
  height: 20px;
}
.header-center .dev-info .description:hover::after {
  rotate: 90deg;
  right: -57px;
  left: unset;
  width: 100px;
  top: unset;
  bottom: 40px;
  height: 20px;
}
.header-center .header-btns {
  margin-block: 30px;
  background: linear-gradient(34deg, rgb(190, 187, 10), aqua, green, grey);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 30px red;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  padding: 5px;
  position: relative;
}
.header-center .header-btns::after {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  top: -35%;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .header-btns::before {
  content: "";
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 10px 1px black;
  position: absolute;
  bottom: -35%;
  border-radius: 10px;
  transition: all 0.4s;
  left: 0;
  background: rgba(51, 5, 158, 0.5882352941);
  pointer-events: none;
}
.header-center .header-btns:hover::before {
  rotate: 90deg;
  left: -35px;
  width: 70px;
  top: 40%;
  height: 20px;
}
.header-center .header-btns:hover::after {
  rotate: 90deg;
  right: -35px;
  left: unset;
  width: 70px;
  top: 40%;
  height: 20px;
}
.header-center .header-btns > button {
  padding: 10px;
  margin: 10px;
  padding-inline: 25px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.431372549);
  cursor: pointer;
  transition: all 0.4s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
.header-center .header-btns > button:hover {
  background: red;
}
.header-center .dev-picture {
  width: 25%;
}
.header-center .dev-picture img {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.4s;
  filter: drop-shadow(0 0 12px rgb(13, 133, 163));
}
.header-center .dev-picture img:hover {
  filter: drop-shadow(0 0 400px aqua);
}

.skills-section {
  height: 100vh;
}

.skills-heading {
  text-align: center;
  padding-block: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4588235294);
  margin-block: 10px;
}

.skills {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 5px;
}
.skills .skills-bars {
  border-radius: 10px;
  background: rgba(62, 8, 150, 0.6588235294);
  box-shadow: 0 0 10px 2px rgba(137, 43, 226, 0.534);
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.skills .skills-bars .skill {
  width: 100%;
  padding: 5px;
  background: rgb(80, 27, 129);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid blueviolet;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.507);
}
.skills .skills-bars .skill .skill-name {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.skills .skills-bars .skill .skill-level {
  width: 100%;
  height: 15px;
  background: rgb(92, 6, 6);
  border-radius: 10px;
  position: relative;
}
.skills .skills-bars .skill .skill-level::before {
  content: "";
  background: rgba(36, 4, 54, 0.76);
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.skills .skill-prev {
  border-radius: 10px;
  background: rgba(62, 8, 150, 0.6588235294);
  box-shadow: 0 0 10px 2px rgba(137, 43, 226, 0.39);
  padding: 10px;
}
.skills .skill-prev .total-skill {
  width: 100%;
  aspect-ratio: 1/1;
}
.skills .skill-prev .total-skill .total-skill-center {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  background: conic-gradient(red 90%, blueviolet 10%);
  box-shadow: 6px 6px 5px 2px rgba(0, 0, 0, 0.568);
}
.skills .skill-prev .total-skill .total-skill-center .total-skill-inner-center {
  font-size: x-large;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.568);
  width: 80%;
  font-weight: 800;
  height: 80%;
  border-radius: 50%;
  background: conic-gradient(rgba(111, 13, 202, 0.733) 10%, green 90%);
  margin: auto;
  box-shadow: inset 6px 6px 5px 2px rgba(0, 0, 0, 0.568);
}/*# sourceMappingURL=global.css.map */